.searchBar {
    display: flex;
    align-items: center;
    background-color: #f4f5f5;
    padding: 0.6rem 0.7rem 0.6rem 0.7rem; // 上右下左;

    input {
        outline: none;
        background-color: transparent;
        border: none;
        color: #a8a8a8;
        &::placeholder {
            color: #a8a8a8;
        }
    }
    .searchIcon {
        cursor: pointer;
    }
}
